/* do as you please with my code, if you find something thats broken hmu :3c*/
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
body{
  background-color: var(--base);
  color: var(--text);
  font-family: 'Fira Code', monospace; 
}
main{
  display: flex;
  flex-direction: colomn;
}
.home{
}
.box{
}
/* light mode = modified catppuccin latte, dark mode = heavily modified catpuccinn mocha to be more purple/blue :)  https://catppuccin.com/palette*/
:root {
	--base: #110d16;
	--text: #cdd6f4;
	--surface0: ;
	--blue: ;
	--mauve: ;
	color-scheme: dark;
}
@media (prefers-color-scheme: light) {
    :root {
        --base: #eff1f5;
        --text: #4f476d;
        --surface0: #6c6f85;
        --blue: #89b4fa;
        --mauve: #cba6f7;
        color-scheme: light;
    }
}